{% extends 'main/main.html' %} {% load static %} {% block content %}
{{response|json_script:'response'}}
<div class="flex justify-center gap-8 pr-44">
	<div class="w-44">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, tempora. Ipsum
		expedita fugit doloremque sapiente quo explicabo deserunt laudantium numquam at
		mollitia eligendi, dolore optio ipsam, aperiam itaque cupiditate! Qui!
	</div>
	<form
		action=""
		method="post"
	>
		{% csrf_token %}
		<input
			id="textTitle"
			class="w-full rounded border bg-neutral-100 py-1.5 pl-2 capitalize shadow-inner outline-none"
			type="text"
			name="textTitle"
			placeholder="TITLE"
		/>
		<textarea
			id="inputText"
			class="textarea w-full resize-none rounded-b-lg bg-neutral-300 outline-none"
			name="inputText"
		>
		</textarea>
		<input
			class="rounded bg-neutral-400 px-6 py-1 hover:bg-neutral-500 active:text-white"
			type="submit"
			value="Send"
		/>
	</form>
</div>
{% endblock %}
