{% extends 'main/main.html' %} {% load static %} {% block content %}
{{response|json_script:'response'}}
<div class="grid place-items-center">
	<form
		action=""
		method="post"
		class="hypertext flex w-3/5 flex-col gap-4 border border-neutral-400 p-10 text-center shadow-lg"
	>
		{% csrf_token %}
		<input
			id="title"
			class="w-full border border-neutral-300 py-2 text-center uppercase outline-none focus:border-neutral-500"
			type="text"
			name="title"
			placeholder="TITLE"
			required
		/>
		<textarea
			id="text"
			placeholder=" ¡Bienvenido(a)! ¿Estás buscando mejorar tus habilidades de lectura en inglés? Te ofrecemos una solución fácil y automatizada. Simplemente pega el texto que deseas estudiar en nuestra interfaz y comienza a utilizar nuestras herramientas.  "
			class="textarea h-full resize-none border bg-neutral-300 outline-none focus:border-neutral-500"
			name="text"
			required
		></textarea>
		<input
			class="w-fit self-end rounded border border-neutral-500 bg-neutral-400 px-6 py-1 hover:bg-neutral-500 active:text-white"
			type="submit"
			value="Enviar"
		/>
	</form>
</div>
{% endblock %}
