{% extends 'main/main.html' %}
{% load static %}

{% block content %}
<h1 class="pt-24 pb-12 pl-4 uppercase">Sobre Nosotros</h1>
<br><br>
<div class="text-lg font-bold">
    <div
        class="w-fit max-w-xl pb-3 border-b">
        <p>
            «Aprender otro idioma no es solamente aprender palabras diferentes para las mismas
            cosas, sino aprender otra manera de pensar acerca de las cosas»
        </p>
        <p class="text-right pr-10 text-neutral-500">Flora Lewis </p>
    </div>
</div>
<br>
<article class="text-justify pl-24 py-12">
    <div class="">
        <h2 class="my-6">El desafío</h2>
        <div class="grid grid-cols-5">
            <section class="col-span-3">
                <p>
                    Aprender un nuevo idioma puede ser una tarea abrumadora, pero es una experiencia
                    increíblemente gratificante. No hay un único método para lograr esta meta, pero
                    elegir las estrategias y el material acertado es el primer paso para garantizar
                    el éxito frente a los desafíos que conlleva la adquisición de una nueva lengua.
                </p>
                <br>
                <p>
                    Y es que no son pocas las dificultades a enfrentar, algunas de las más
                    importantes
                    son:
                </p>
                <br>
                <ul class="list-disc list-inside">
                    <li>
                        Adquisición de vocabulario: aprender y recordar nuevas palabras y frases.
                    </li>
                    <li>
                        Gramática: comprender y aplicar las reglas de la lengua.
                    </li>
                    <li>
                        Pronunciación: hablar con claridad y precisión.
                    </li>
                    <li>
                        Comprensión: entender el significado del lenguaje hablado y escrito en
                        contextos
                        reales.
                    </li>
                    <li>
                        Comunicación: expresarse de manera efectiva.
                    </li>
                    <li>
                        Comprensión cultural: comprensión y navegación por las normas y costumbres
                        culturales.
                    </li>
                    <li>
                        Mantener la motivación y la constancia en la práctica del idioma.
                    </li>
                    <li>
                        Superar el miedo a cometer errores.
                    </li>
                    <li>
                        Acceso a recursos y oportunidades para practicar el idioma.
                    </li>
                </ul>
            </section>
            <div class="grid justify-center items-center">
                <img src="{%get_static_prefix%}images/blog/some_ilustration.html" alt="some image">
            </div>
        </div>
    </div>
    <div class="">
        <h2 class="my-6">Stories</h2>
        <div class="grid grid-cols-5">
            <section class="col-span-3 ">
                <p>
                    SORIES es una plataforma diseñada para ayudar a enfrentarse a esos desafíos.
                    Nuestra tarea es brindar herramientas, tanto para estudiantes autónomos, como
                    para tutores. Nuestro objetivo es facilitar el aprendizaje enfocándose en el
                    propósito fundamental del idioma, comunicar significados.

                </p>
                <br>
                <p>
                    Esta aplicación presenta una variedad de historias, organizadas en un orden
                    progresivo de dificultad, lo que permite a los usuarios mejorar gradualmente su
                    comprensión y vocabulario. Ya sea un principiante o un estudiante
                    avanzado, nuestra aplicación ofrece una forma efectiva de aprender
                    inglés a través de la lectura de una amplia gama de textos, que van desde
                    microcuentos simples y hasta narraciones más largas y complejas. Cada historia
                    se selecciona cuidadosamente para brindar una experiencia de lectura rica y
                    atractiva, al mismo tiempo que presenta nuevas palabras y frases en contexto.
                </p>
                <br>
                <p>
                    A medida que los usuarios avanzan a través de las historias, encontrarán
                    vocabulario y estructuras gramaticales cada vez más desafiantes, lo que los
                    ayudará a construir una base sólida para su viaje de aprendizaje. Con relación
                    a los desafíos que mencionamos iniciando este artículo esta estrategia de
                    estudio trae variadas ventajas.
                </p>
                <br>
                <ul class="[&>li>h5]:inline [&>li>p]:pt-2 [&>li>p]:pb-3 [&>li>p]:w-4/5">
                    <li>
                        <h5> Mantener la motivación y la constancia </h5>
                        <p>
                            Las historias son más atractivas y entretenidas que ejercicios aislados,
                            lo que hace que la práctica del idioma sea más agradable y motivadora.
                        </p>
                    </li>
                    <li>
                        <h5> Adquisición de vocabulario </h5>
                        <p>
                            Las historias brindan un contexto natural para
                            introducir nuevas palabras y frases, haciéndolas más memorables y
                            fáciles de
                            entender.
                        </p>
                    </li>
                    <li>
                        <h5> Comprensión </h5>
                        <p>
                            Las historias brindan un contexto que facilita el seguimiento y la
                            construcción del significado.
                        </p>
                    </li>
                    <li>
                        <h5> Gramática </h5>
                        <p>
                            Se captar las estructuras gramaticales utilizadas en el idioma de una
                            manera más natural, en lugar de simplemente memorizar reglas.
                        </p>
                    </li>
                    <li>
                        <h5> Comunicación </h5>
                        <p>
                            Al leer y escuchar historias, se pueden captar la forma en que los
                            hablantes nativos usan el idioma en situaciones de la vida
                            real, lo que facilita aprender a comunicarse de manera efectiva.
                            Además brinda un contexto que facilita la práctica cuando se organizan
                            grupos de estudio.
                        </p>
                    </li>
                    <li>
                        <h5> Pronunciación </h5>
                        <p>
                            La aplicación contiene ayudas que facilitan la memorización de la
                            pronunciación correcta para cada palabra. Por otro lado al escuchar las
                            narraciones, los alumnos pueden familiarizarse con la pronunciación
                            correcta de oraciones completas.
                        </p>
                    </li>
                    <li>
                        <h5> Comprensión cultural </h5>
                        <p>
                            Las historias proporcionan información sobre la cultura y las
                            costumbres vinculadas al idioma, lo que ayuda a los alumnos a manejar
                            mejor estos aspectos en el uso de la lengua.
                        </p>
                    </li>
                    <li>
                        <h5>Recursos adecuados</h5>
                        <p>
                            Los cuentos organizados en niveles de dificultad permiten que el
                            estudiante encuentre de manera rápida un material adecuado a su nivel, y
                            facilita también que lleve un progreso adaptado a su propio ritmo.
                        </p>
                    </li>
                </ul>
            </section>
            <div class="grid justify-center items-center">
                <img src="{%get_static_prefix%}images/blog/some_ilustration.html" alt="some image">
            </div>
        </div>
    </div>
    <div class="">
        <h2 class="my-6">¡A comensar!</h2>
        <div class="grid grid-cols-5">
            <section class="col-span-3 ">
                Ahora que estas más familiarizado con la filosofia detras de nuestra propuesta
                puedes dar un vistaso a este atriculo sobre el uso de <a href={%url 'tools-blog'%}>las herramientas</a>
                en la página, o ir directamente a <a href={%url 'home' %}> las historias</a>
            </section>
            <div class="grid justify-center items-center">
                <img src="{%get_static_prefix%}images/blog/some_ilustration.html" alt="some image">
            </div>
        </div>
    </div>
</article>
</div>
{% endblock %}